---
import Layout from '../layouts/Layout.astro'
import { Header } from '../components/Header.jsx'
import Hero from '../components/Hero.astro'
import Brands from '../components/Brands.astro'
import Section1 from '../components/Section1.astro'
import Services from '../components/Services.astro'
import Section2 from '../components/Section2.astro'
import Footer from '../components/Footer.astro'
import Cards from '../components/Cards.astro'
---

<Layout title="Red y Printerx">
  <Header client:load />
  <div class="px-2 lg:px-0">
    <Hero />
    <Brands />
    <Section1 />
    <Services />
    <Section2 />
    <Cards />
  </div>
  <Footer />
</Layout>
