<section
  class="flex flex-wrap container mx-auto justify-center lg:justify-around gap-x-4 bg-marino pt-5 pb-8 rounded-t-3xl -mt-5 animate-in slide-in-from-bottom-6 duration-1000"
>
  <img
    loading="lazy"
    src="/partners/1.png"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 lg:w-56 lg:h-40 mix-blend-screen"
  />
  <img
    loading="lazy"
    src="/partners/2.png"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 lg:w-56 lg:h-40"
  />
  <img
    loading="lazy"
    src="/partners/3.svg"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 lg:w-56 lg:h-40 mix-blend-color-dodge invert grayscale brightness"
  />
  <img
    loading="lazy"
    src="/partners/4.webp"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 lg:w-56 lg:h-36 grayscale"
  />
</section>
