<section
  class="flex flex-wrap container mx-auto justify-center gap-x-4 bg-marino pt-5 pb-8 rounded-t-3xl -mt-5 animate-in slide-in-from-bottom-6 duration-1000"
>
  <img
    loading="lazy"
    src="https://logowik.com/content/uploads/images/varian-medical-systems2648.logowik.com.webp"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 mix-blend-screen invert"
  />
  <img
    loading="lazy"
    src="https://tukuz.com/wp-content/uploads/2019/09/centurion-medical-products-logo-vector.png"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 mix-blend-screen invert"
  />
  <img
    loading="lazy"
    src="https://www.logosvgpng.com/wp-content/uploads/2021/12/club-warehouse-sports-medical-logo-vector.png"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 mix-blend-screen invert"
  />
  <img
    loading="lazy"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlXzv3-oYuohSEJjrqzE6Gfg_LmKaSxmGMYw&usqp=CAU"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 mix-blend-screen invert"
  />
  <img
    loading="lazy"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv36g37mAuXzrDKv9oINNyJLXDT3G2x51deEg3bamQ-ZVKsS5vc939wknEvgS_Rb7p9Yc&usqp=CAU"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 mix-blend-screen invert"
  />
  <img
    loading="lazy"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhi_I-eweSPd9r7ehVeH7NxkjTBN__wMfNa8t_tEVZDtTY2RwHQDv6b7rHiI0fr4vL4P4&usqp=CAU"
    alt="puede ser una imagen de"
    class="aspect-video object-contain w-40 h-20 mix-blend-screen invert"
  />
</section>
