---
import Wrapper from './Wrapper.astro'
import { Facebook, Instagram, Twitter } from './Icons'
import { socialMedia } from '../constants/index'
---

<footer class="bg-marino text-white pt-14 pb-3 mt-20">
  <Wrapper
    className="flex justify-between flex-col lg:flex-row gap-[50px] md:gap-0"
  >
    {/* LEFT START */}
    <div
      class="flex gap-[50px] md:gap-[75px] lg:gap-[100px] flex-col md:flex-row"
    >
      {/* MENU START */}
      <div class="flex flex-col gap-3 shrink-0">
        <a
          href="#services"
          class="font-oswald font-bold uppercase text-sm cursor-pointer"
        >
          Servicios
        </a>
        <a
          href="/equipos/extraorales"
          class="font-oswald font-bold uppercase text-sm cursor-pointer"
        >
          Equipos
        </a>
      </div>
      {/* MENU END */}

      {/* NORMAL MENU START */}
      <div
        class="flex gap-[50px] md:gap-[75px] lg:gap-[100px] flex-wrap shrink-0"
      >
        {/* MENU START */}
        <div class="flex flex-col gap-3">
          <h3 class="font-oswald font-bold uppercase text-sm">Contáctanos</h3>
          <a
            href="mailto:servicio.cliente@redyprinterx.com"
            class="text-sm text-blanco hover:text-white cursor-pointer transition-colors duration-300"
          >
            servicio.cliente@redyprinterx.com
          </a>
          <a
            href="mailto:redyprinterxsas@gmail.com"
            class="text-sm text-blanco hover:text-white cursor-pointer transition-colors duration-300"
          >
            redyprinterxsas@gmail.com
          </a>
          <a
            href="tel:573184165736"
            class="text-sm text-blanco hover:text-white cursor-pointer transition-colors duration-300"
          >
            (+57) 3184165736
          </a>
          <a
            href="tel:3124504680"
            class="text-sm text-blanco hover:text-white cursor-pointer transition-colors duration-300"
          >
            (+57) 3124504680
          </a>
          <p class="text-sm text-blanco transition-colors duration-300">
            601 7364 809
          </p>
          <p class="text-sm text-blanco transition-colors duration-300">
            NIT. 900151787-1
          </p>
        </div>
        {/* MENU END */}

        {/* MENU START */}
        <div class="flex flex-col gap-3">
          <h3 class="font-oswald font-bold uppercase text-sm">Visitanos</h3>
          <p
            class="text-sm text-blanco transition-colors duration-300 max-w-[200px]"
          >
            CALLE 186 No 16 A 36 PISO 2, Bogotá - Colombia
          </p>

          <p
            class="text-sm text-blanco transition-colors duration-300 max-w-[200px]"
          >
            <span class="font-medium block">Lunes a viernes:</span> 8:00am –
            5:00pm
          </p>

          <p
            class="text-sm text-blanco transition-colors duration-300 max-w-[200px]"
          >
            <span class="font-medium block">Sabados:</span> 8:00am - 12:00pm
          </p>
        </div>
        {/* MENU END */}
      </div>
      {/* NORMAL MENU END */}
    </div>
    {/* LEFT END */}

    {/* RIGHT START */}
    <div
      class="flex gap-4 justify-center lg:justify-start pt-0 md:pt-10 lg:pt-0"
    >
      <a
        href={socialMedia.facebook}
        target="_blank"
        title="facebook"
        class="w-10 h-10 text-marino p-2 rounded-full bg-white flex items-center justify-center hover:bg-white/[0.8] cursor-pointer transition-colors duration-300"
      >
        <Facebook />
      </a>
      <a
        href={socialMedia.twitter}
        target="_blank"
        title="twitter"
        class="w-10 h-10 text-marino p-2 rounded-full bg-white flex items-center justify-center hover:bg-white/[0.8] cursor-pointer transition-colors duration-300"
      >
        <Twitter />
      </a>
      <a
        href={socialMedia.instagram}
        target="_blank"
        title="instagram"
        class="w-10 h-10 text-marino p-2 rounded-full bg-white flex items-center justify-center hover:bg-white/[0.8] cursor-pointer transition-colors duration-300"
      >
        <Instagram />
      </a>
    </div>

    <a href="/" title="home">
      <img
        src="/logo-footer.webp"
        alt="logo"
        class="lg:w-full lg:h-full md:mt-10 lg:mt-0 mx-auto"
      />
    </a>
    {/* RIGHT END */}
  </Wrapper>
  <Wrapper
    className="flex justify-center mt-10 flex-col md:flex-row gap-[10px] md:gap-0"
  >
    {/* LEFT START */}
    <p class="text-[12px] text-blanco text-center md:text-center">
      © {new Date().getFullYear()} Red y Printerx. Todos los derechos
      reservados.
    </p>
    {/* LEFT END */}
  </Wrapper>
</footer>
