---
import heroImg from '/hero.webp'
---

<main
  class="h-max pb-20 lg:pb-0 py-28 bg-blanco rounded-t-3xl grid place-items-center container mx-auto animate-in fade-in duration-1000"
>
  <div class="flex flex-col lg:flex-row items-center px-2 md:px-16 md:gap-5">
    <img
      src={heroImg}
      loading="lazy"
      alt="Imagen de fondo"
      class="max-w-lg w-full h-full aspect-square object-contain lg:order-2"
    />

    <section class="mt-4 md:mt-0">
      <h1
        class="text-[clamp(20%,6vw,3rem)] text-center lg:text-left md:order-1 lg:max-w-[65ch] font-bold leading-tight"
      >
        Servicios y Asesorías para Equipos Carestream Dental. <span
          class="text-cielo">Redyprinterx.</span
        >
      </h1>

      <p class="lg:max-w-[65ch] mt-5 text-center lg:text-left text-sm">
        <b>REDYPRINTERX SAS</b> está comprometido con el cumplimiento del marco legal
        que rige la actividad empresarial en calidad de nuestros servicios y productos.
        Contamos con personal capacitado y comprometido en la mejora continua para
        brindar a nuestros clientes una experiencia de satisfacción.
      </p>

      <a
        href="#services"
        class="bg-cielo hover:bg-cielo/80 transition-colors duration-300 text-blanco px-4 py-2 rounded-md mt-5 inline-block w-full lg:w-max text-center"
      >
        Ver servicios</a
      >
    </section>
  </div>
</main>
