<section
  class="bg-marino py-10 container mx-auto rounded-3xl -mt-5 px-2 md:px-12 text-center lg:text-left flex flex-col md:flex-row items-center justify-center lg:gap-x-60"
  id="features2"
>
  <h2 class="text-3xl text-white font-medium order-2 md:order-1">
    The especialist is always with you
  </h2>

  <img
    width="300"
    loading="lazy"
    height="300"
    class="aspect-square object-cover order-1 md:order-2 -mt-20"
    src="https://www.carestream.com/es/es/-/media/publicsitev2/project/content-type/teaser---row-images/medical/row-medical-computed-radiography.png?sc_lang=es-es&la=es-ES&h=400&w=600&hash=6459A31C449D970EB7B5E63EE06A38B6"
    alt="puede ser una imagen de"
  />
</section>

<script lang="javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const features2 = document.getElementById('features2')

    const callback = (entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add(
            'animate-in',
            'slide-in-from-bottom-8',
            'duration-1000'
          )
          observer.unobserve(entry.target) // Dejar de observar el elemento una vez agregada la clase
        }
      })
    }

    const observer = new IntersectionObserver(callback)
    observer.observe(features2)
  })
</script>
