<section
  class="grid md:grid-cols-2 place-content-center items-center text-marino gap-10 mx-auto max-w-7xl"
  id="nosotros"
>
  <header class="text-center md:text-left order-2">
    <h2 class="font-bold text-2xl lg:text-3xl uppercase">Sobre Nosotros</h2>
    <p class="max-w-3xl mt-2 lg:mt-6 lg:text-xl leading-relaxed">
      Como <b>distribuidores autorizados</b> de servicio y soporte de <b
        >Carestream Dental</b
      >
       en el país, nos esforzamos constantemente por ofrecer un servicio de
      calidad mundial, asegurando así la excelencia en atención y respaldo a
      nuestros clientes.
    </p>
  </header>

  <picture class="order-1 mb-3 md:mb-0 rounded-3xl bg-blanco max-w-sm">
    <img
      src="/about/men1.png"
      alt="pic"
      class="w-full h-full aspect-square object-cover object-top rounded-3xl"
    />
  </picture>
</section>

<section
  class="grid md:grid-cols-2 place-items-center text-marino gap-10 mx-auto max-w-7xl my-20"
  id="nosotros2"
>
  <header class="order-2 md:order-1">
    <h2 class="font-bold text-2xl lg:text-3xl uppercase">
      ¿Porque nuestro servicio tecnico?
    </h2>

    <div class="max-w-3xl mt-2 lg:mt-6 lg:text-xl leading-relaxed">
      <p>
        Ofrecemos tranquilidad, calidad y confianza. Nos esforzamos por brindar
        un servicio excepcional para sus productos, respaldado por nuestra red
        de servicios técnicos especializados y autorizados. Lo que nos
        distingue:
      </p>

      <ul class="mt-3 ml-5 space-y-3">
        <li class="list-item">Profesionales altamente cualificados.</li>
        <li class="list-item">Utilización de piezas originales.</li>
        <li class="list-item">Herramientas calibradas y especializadas.</li>
        <li class="list-item">Somos distribuidores autorizados de fábrica.</li>
        <li class="list-item">Contamos con ingenieros a nivel nacional.</li>
        <li class="list-item">
          Cumplimos con los más altos estándares de calidad de servicio a nivel
          mundial.
        </li>
        <li class="list-item">
          Garantizamos un tiempo de respuesta eficiente ante cualquier inquietud
          que pueda tener.
        </li>
      </ul>

      <p class="mt-5">
        En resumen, nuestro compromiso es ofrecer un servicio técnico que
        sobresale en cada aspecto, asegurando la satisfacción total de nuestros
        clientes.
      </p>
    </div>
  </header>

  <picture
    class="order-1 md:order-2 mb-3 md:mb-0 rounded-3xl bg-turquesa max-w-sm"
  >
    <img
      src="/about/women.png"
      alt="pic"
      class="w-full h-full aspect-square object-cover object-top rounded-3xl"
    />
  </picture>
</section>

<section
  class="grid md:grid-cols-2 place-content-center items-center text-marino gap-10 mb-10 mx-auto max-w-7xl"
  id="nosotros3"
>
  <header class="text-center md:text-left order-2">
    <h2 class="font-bold text-2xl lg:text-3xl uppercase">
      De profesional a profesional
    </h2>
    <p class="max-w-3xl mt-2 lg:mt-6 lg:text-xl leading-relaxed">
      Entendemos a la perfección la importancia de mantener en óptimo estado sus
      valiosos instrumentos y equipos. Como representantes en Colombia del
      fabricante, contamos con el mejor <strong>"know-how"</strong>, siendo los
      únicos distribuidores autorizados de servicio y soporte. Esto nos permite
      ofrecerle el presupuesto más competitivo y eficiente para la reparación de
      sus equipos.
    </p>
  </header>

  <picture class="order-1 mb-3 md:mb-0 rounded-3xl bg-cielo max-w-sm">
    <img
      src="/about/men2.png"
      alt="pic"
      class="w-full h-full aspect-square object-cover object-top rounded-3xl"
    />
  </picture>
</section>

<style>
  .list-item {
    list-style: none;
    background-image: url("data:image/svg+xml,%3Csvg fill='%231DCDFE' xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 25px;
    background-size: 18px;
  }
</style>

<script lang="javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const features1 = document.getElementById('nosotros')
    const features2 = document.getElementById('nosotros2')
    const features3 = document.getElementById('nosotros3')

    const callback = (entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add(
            'animate-in',
            'slide-in-from-bottom-6',
            'duration-1000'
          )
          observer.unobserve(entry.target) // Dejar de observar el elemento una vez agregada la clase
        }
      })
    }

    const observer = new IntersectionObserver(callback)
    observer.observe(features1)
    observer.observe(features2)
    observer.observe(features3)
  })
</script>
