<section
  class="grid md:grid-cols-[1fr_2fr] items-center text-marino gap-10 mx-auto max-w-7xl"
  id="nosotros"
>
  <header class="text-center md:text-left order-2">
    <h2 class="font-bold text-2xl lg:text-3xl uppercase">Sobre Nosotros</h2>
    <p class="mt-2 lg:mt-6 text-normal leading-relaxed">
      <b>REYPRINTERX SAS</b> es una empresa líder en el sector que se
      especializa en brindar soporte y servicio técnico a equipos odontológicos
      de la reconocida marca Carestream. Nuestra misión es proporcionar mano de
      obra altamente capacitada y especializada para garantizar un servicio de
      calidad y satisfacción total tanto para su compañía como para sus
      pacientes. Nos enorgullece contar con tecnología de vanguardia que nos
      permite ofrecer soluciones innovadoras y eficientes a los desafíos
      técnicos que puedan surgir. Nuestro equipo de expertos está constantemente
      actualizado y capacitado en las últimas tendencias y avances en la
      industria dental, asegurando así que nuestros servicios se mantengan a la
      vanguardia. En REYPRINTERX SAS comprendemos la importancia de la
      fiabilidad y el rendimiento óptimo de sus equipos odontológicos. Por eso,
      nos esforzamos por brindar un servicio rápido, confiable y de alta calidad
      que minimice cualquier tiempo de inactividad y garantice un funcionamiento
      óptimo de los equipos. Confíe en REYPRINTERX SAS como su socio de
      confianza para el soporte y servicio técnico de sus equipos odontológicos
      Carestream. Nuestro compromiso es proporcionar soluciones integrales y
      satisfactorias que superen sus expectativas y contribuyan al éxito de su
      clínica dental.
    </p>
  </header>

  <picture class="order-1 mb-3 md:mb-0 rounded-3xl bg-blanco max-w-sm">
    <img
      src="/about/men1.png"
      alt="pic"
      class="w-full h-full aspect-square object-cover object-top rounded-3xl"
    />
  </picture>
</section>

<section
  class="grid md:grid-cols-2 place-items-center text-marino gap-10 mx-auto max-w-7xl my-20"
  id="nosotros2"
>
  <header class="order-2 md:order-1">
    <h2 class="font-bold text-2xl lg:text-3xl uppercase">
      ¿Porque nuestro servicio tecnico?
    </h2>

    <div class="max-w-3xl mt-2 lg:mt-6 text-normal leading-relaxed">
      <p>
        Ofrecemos tranquilidad, calidad y confianza. Nos esforzamos por brindar
        un servicio excepcional para sus productos, respaldado por nuestra red
        de servicios técnicos especializados y autorizados. Lo que nos
        distingue:
      </p>

      <ul class="mt-3 ml-5 space-y-3">
        <li class="list-item">Profesionales altamente cualificados.</li>
        <li class="list-item">Utilización de piezas originales.</li>
        <li class="list-item">Herramientas calibradas y especializadas.</li>
        <li class="list-item">Somos distribuidores autorizados de fábrica.</li>
        <li class="list-item">Contamos con ingenieros a nivel nacional.</li>
        <li class="list-item">
          Cumplimos con los más altos estándares de calidad de servicio a nivel
          mundial.
        </li>
        <li class="list-item">
          Garantizamos un tiempo de respuesta eficiente ante cualquier inquietud
          que pueda tener.
        </li>
      </ul>

      <p class="mt-5">
        En resumen, nuestro compromiso es ofrecer un servicio técnico que
        sobresale en cada aspecto, asegurando la satisfacción total de nuestros
        clientes.
      </p>
    </div>
  </header>

  <picture
    class="order-1 md:order-2 mb-3 md:mb-0 rounded-3xl bg-turquesa max-w-sm"
  >
    <img
      src="/about/women.png"
      alt="pic"
      class="w-full h-full aspect-square object-cover object-top rounded-3xl"
    />
  </picture>
</section>

<section
  class="grid md:grid-cols-2 place-content-center items-center text-marino gap-10 mb-10 mx-auto max-w-7xl"
  id="nosotros3"
>
  <header class="text-center md:text-left order-2">
    <h2 class="font-bold text-2xl lg:text-3xl uppercase">
      De profesional a profesional
    </h2>
    <p class="max-w-3xl mt-2 lg:mt-6 text-normal leading-relaxed">
      Entendemos a la perfección la importancia de mantener en óptimo estado sus
      valiosos instrumentos y equipos. Como representantes en Colombia del
      fabricante, contamos con el mejor <strong>"know-how"</strong>, siendo los
      únicos distribuidores autorizados de servicio y soporte. Esto nos permite
      ofrecerle el presupuesto más competitivo y eficiente para la reparación de
      sus equipos.
    </p>

    <a
      href="https://www.carestreamdental.com/es-americas/locations/?region=Central%20and%20South%20America&country=Colombia#Proveedores-de-servicios"
      target="_blank"
      class="bg-cielo font-semibold hover:bg-cielo/80 transition-colors duration-300 text-blanco px-4 py-2 rounded-md mt-5 inline-block w-full lg:w-max text-center"
      >Somos distribuidores autorizados</a
    >
  </header>

  <picture class="order-1 mb-3 md:mb-0 rounded-3xl bg-cielo max-w-sm">
    <img
      src="/about/men2.png"
      alt="pic"
      class="w-full h-full aspect-square object-cover object-top rounded-3xl"
    />
  </picture>
</section>

<style>
  .list-item {
    list-style: none;
    background-image: url("data:image/svg+xml,%3Csvg fill='%231DCDFE' xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 25px;
    background-size: 18px;
  }
</style>

<script lang="javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const features1 = document.getElementById('nosotros')
    const features2 = document.getElementById('nosotros2')
    const features3 = document.getElementById('nosotros3')

    const callback = (entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add(
            'animate-in',
            'slide-in-from-bottom-6',
            'duration-1000'
          )
          observer.unobserve(entry.target) // Dejar de observar el elemento una vez agregada la clase
        }
      })
    }

    const observer = new IntersectionObserver(callback)
    observer.observe(features1)
    observer.observe(features2)
    observer.observe(features3)
  })
</script>
