---
import { Cog, Shield } from './Icons.jsx'
---

<section
  class="bg-white rounded-t-3xl -mt-5 container mx-auto pt-10 lg:pt-20 pb-20 lg:pb-28 flex flex-col md:flex-row justify-between items-start px-2 md:px-12 gap-y-14 md:gap-y-0 gap-x-8"
  id="nosotros"
>
  <div class="md:w-1/2 text-center md:text-left">
    <h2 class="text-[clamp(1.8rem,8vw,3rem)] font-medium">Sobre nosotros</h2>
    <p class="mt-4 max-w-md">
     Somos una empresa dedicada a brindar soporte y servicio técnico a equipos
odontológicos. Con <strong>16 años de experiencia</strong> en el mercado. Estamos Certificados
por casa matriz <b>Carestream Dental</b> como Proveedores de Servicio.
    </p>
    <a
      class="mt-6 block uppercase font-medium hover:text-cielo transition-colors duration-300"
      href="https://www.carestreamdental.com/es-americas/locations/?region=Central%20and%20South%20America&country=Colombia#Proveedores-de-servicios"
      target="_blank"
    >
      Somos distribuidores autorizados &rightarrow;
    </a>
  </div>

  <div class="md:w-2/3 max-w-[65ch]">
    <div class="group flex gap-x-4">
      <Cog />
      <div class="">
        <h3 class="text-[clamp(1rem,5vw,1.6rem)] font-medium">
          Nuestro Departamento de Servicio Técnico
        </h3>
        <p class="mt-2">
          Busca bridarle con profesionalismo un servicio de calidad y una experiencia satisfactoria.
        </p>
      </div>
    </div>

    <div class="group mt-14 flex gap-x-4">
      <Shield />
      <div class="">
        <h3 class="text-[clamp(1rem,5vw,1.6rem)] font-medium">
          Nuestros Ingenieros
        </h3>
        <p class="mt-2">
          Están capacitados por casa matriz y cuentan con toda la documentación requerida por secretaria de Salud.
        </p>
      </div>
    </div>
  </div>
</section>

<script lang="javascript">
document.addEventListener('DOMContentLoaded', () => {
  const features1 = document.getElementById('nosotros')

  const callback = (entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add(
          'animate-in',
          'slide-in-from-bottom-6',
          'duration-1000'
        )
        observer.unobserve(entry.target) // Dejar de observar el elemento una vez agregada la clase
      }
    })
  }

  const observer = new IntersectionObserver(callback)
  observer.observe(features1)
})
</script>
