---
import {
  Capacitacion,
  LighBulb,
  Wrench,
  Laptop,
  Cogs,
  Desktop,
  Tools,
  ShieldService,
  Code
} from './Icons'

const services = [
  {
    name: 'Capacitación',
    Icon: Capacitacion,
    description:
      'Ofrecemos un servicio de acompañamiento integral al cliente, proporcionando recomendaciones, sugerencias y planes estratégicos personalizados en relación con equipos, accesorios e insumos para optimizar el rendimiento y la eficiencia de su centro radiológico'
  },
  {
    name: 'Asesorías',
    Icon: LighBulb,
    description:
      'Acompañamiento al cliente realizando recomendaciones, sugerencias y/o planes estratégicos sobre equipos, accesorios, insumos para su centro radiológico.'
  },
  {
    name: 'Revisión técnica y diagnóstico de equipos',
    Icon: Wrench,
    description:
      'Nuestro equipo de ingenieros lleva a cabo revisiones y diagnósticos tanto in situ como de forma remota para identificar posibles inconvenientes, fallas y errores en una variedad de equipos a los cuales ofrecemos servicio técnico. Esta metodología nos permite una detección rápida y eficaz, asegurando una solución precisa y oportuna para garantizar el rendimiento óptimo de sus equipos.'
  },
  {
    name: 'Soporte remoto',
    Icon: Laptop,
    description:
      'Proporcionamos soluciones inmediatas a sus equipos mediante plataformas remotas, asegurando respuestas rápidas y eficientes para mantener el funcionamiento óptimo en tiempo real.'
  },
  {
    name: 'Preinstalación de equipos',
    Icon: Cogs,
    description:
      'Contamos con la capacitación necesaria para brindar acompañamiento y asesoría integral durante el proceso de preinstalación de equipos, abordando aspectos como la optimización de espacios, consideraciones eléctricas, configuración de hardware y otros elementos relevantes.'
  },
  {
    name: 'Instalación de equipos',
    Icon: Desktop,
    description:
      'La instalación de nuestros equipos sigue estrictamente las directrices establecidas por el fabricante, incluyendo la configuración, pruebas exhaustivas y capacitación detallada en el manejo del equipo.'
  },
  {
    name: 'Mantenimientos Correctivos',
    Icon: Tools,
    description:
      'Nuestro servicio de mantenimiento correctivo está diseñado para responder de manera eficiente a situaciones imprevistas, asegurando soluciones inmediatas que contribuyen tanto a mantener la continuidad operativa como a prolongar la vida útil del equipo. En cada intervención, documentamos cuidadosamente todas las acciones llevadas a cabo, generando información valiosa que se utiliza como base para implementar medidas preventivas y evitar futuros inconvenientes.'
  },
  {
    name: 'Mantenimientos Preventivos',
    Icon: ShieldService,
    description:
      'El servicio de mantenimiento preventivo es fundamental para evitar fallas recurrentes, prolongar la vida útil del equipo, reducir los costos asociados a reparaciones, prevenir problemas de calidad de imagen y garantizar el correcto funcionamiento del equipo. Nos comprometemos a realizar revisiones periódicas exhaustivas para mantener tu equipo en condiciones óptimas y evitar cualquier inconveniente futuro.'
  },
  {
    name: 'Instalación de Software',
    Icon: Code,
    description:
      'Nos encargamos de instalar la versión de software más adecuada según las especificaciones de sus equipos o sus necesidades particulares, asegurando una integración eficiente y un rendimiento óptimo.'
  }
]
---

<div
  class="container bg-white rounded-t-3xl block mx-auto mb-28 overflow-hidden pt-4 mt-20"
  id="services"
>
  <div class="embla relative">
    <div class="embla__container flex space-x-10">
      {
        services.map(({ name, description, Icon }) => (
          <div class="embla__slide relative border border-slate-200 w-80 p-4 pt-14 rounded-md text-marino flex-[0_0_350px]">
            <div class="flex border-slate-100 h-16 w-16 aspect-square mb-3 text-cielo absolute -top-4 -left-4 shadow rounded-full bg-white p-3">
              <Icon />
            </div>
            <h3 class="font-bold text-md">{name}</h3>
            <p class="text-sm pt-2">{description}</p>
          </div>
        ))
      }
    </div>

    <div
      class="buttons hidden md:flex justify-between absolute w-full h-full left-0 right-0 top-0"
    >
      <button
        class="embla__prev h-full flex flex-col items-center justify-center bg-white/60 backdrop-blur-md"
      >
        <div class="h-8 w-8">
          <svg class="embla__button__svg" viewBox="0 0 532 532">
            <path
              class="fill-marino"
              d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
            ></path>
          </svg>
        </div>
      </button>

      <button
        class="embla__next h-full flex flex-col items-center justify-center bg-white/60 backdrop-blur-md"
      >
        <div class="h-8 w-8">
          <svg class="embla__button__svg" viewBox="0 0 532 532">
            <path
              class="fill-marino"
              d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
            ></path>
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>

<style>
  .embla__slide:last-child {
    margin-right: 40px !important;
  }
</style>

<script>
  import EmblaCarousel from 'embla-carousel'
  import Autoplay from 'embla-carousel-autoplay'

  document.addEventListener('DOMContentLoaded', () => {
    const emblaNode = document.querySelector('.embla')
    const prevButtonNode = emblaNode.querySelector('.embla__prev')
    const nextButtonNode = emblaNode.querySelector('.embla__next')

    const OPTIONS = {
      loop: true
    }

    const plugins = [
      Autoplay({
        delay: 3000,
        stopOnInteraction: false,
        stopOnMouseEnter: true
      })
    ]

    const emblaApi = EmblaCarousel(emblaNode, OPTIONS, plugins)

    prevButtonNode.addEventListener('click', emblaApi.scrollPrev, false)
    nextButtonNode.addEventListener('click', emblaApi.scrollNext, false)
  })
</script>
